page-news {
    .feed-footer .feed-title h3{
        margin: -1px 0 2px !important;
         
    }

    .feed-footer .comment-list {
        border-top: 0px solid #ddd !important; 
        margin-top: 7px !important;
    }
    .feed-editors {

        margin-left: -0.5px
    }
    .panel {

    }        
}
