page-messages {
    .header_title{
        padding: 7px 0 5px !important
     }
     .user-img {
         border-radius: 50px !important;
         border: 1.5px solid #5c0632;
         
     }
     .user-img img {
         border-radius: 50px !important
     }
}
