page-search {
  .col {
      margin-left: 25px !important;
  }
  .slide-zoom{
    background-color: #79023d;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 4px;
  }
  // .slide-zoom:focus {
  //   background-color: #fff;
  // }
  // ion-slide:active {
  //   background-color: #fff;
  //   font-weight: bold;
  // }
}
