page-search {
  .col {
      margin: auto !important;
  }
  .slide-zoom{
    background-color: #79023d;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 4px;
  }
  .user-img {
    border: 1px solid #5c0632;
  }

}
