<!--
  Generated template for the Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <header class="header_title">
			<div class="container">
				<div class="back_btn">
					<a (click)="back()"><i class="fa fa-arrow-left"></i></a>
				</div>
				<div class="page_title text-center">

					<h3>{{ page.title }}</h3>
				</div>
				<div class="menu_btn text-right">
					<a href="#"><i class="fa fa-bars" style="color:#fff;font-size:18px"></i></a>
				</div>
			</div>
		</header>
</ion-header>

<ion-content >
  <section class="bg_grey full_vh pages">
			<div class="user_cover friend_profile">
				<div class="friend_profile_box">
					<div class="img-upload">

						<img src="{{ page.logo }}" alt="">
					</div>
				</div>
				<div class="profile-editors">

          <a *ngIf="page.has_like == false" (click)="likePage(userId, page.id, 'like')" href="#" class="btn btn-theme btn-sm"><i class="fa fa-thumbs-o-up"></i>&nbsp; Like</a>
          <a *ngIf="page.has_like == true" style="color: #488aff" (click)="likePage(userId, page.id, 'dislike')" href="#" class="btn btn-theme btn-sm"><i class="fa fa-check"></i>&nbsp; Liked</a>
          <!-- <a *ngIf="page.has_like == false" (click)="likePage(userId, page.id, 'like')" href="#"  class="btn btn-default btn-sm"><i class="fa fa-thumbs-o-up"></i> Like</a>
          <a *ngIf="page.has_like == true" style="color: #488aff" (click)="likePage(userId, page.id, 'dislike')" href="#"  class="btn btn-default btn-sm"><i class="fa fa-thumbs-o-up"></i> Liked</a> -->

          <div class="dropdown" style="display:inline-block">
								<a href="#" class="btn btn-theme btn-sm" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
                <li><a (click)="editPage()" href="#" style="color: #5c0632;" *ngIf="page.is_admin == true"><i class="fa fa-edit"></i>&nbsp; Edit</a></li>
                <li><a href="#" style="color: #5c0632;"><i class="fa fa-share"></i>&nbsp; Share</a></li>
								<li><a (click)="savePage(page.id)" href="#" *ngIf="saved == false" style="color: #5c0632;"><i class="fa fa-bookmark"></i>&nbsp; Save</a></li>
                <li><a (click)="unsavePage(page.id)" href="#" *ngIf="saved == true" style="color: #5c0632;"><i class="fa fa-bookmark"></i>&nbsp; Unsave</a></li>
                <li><a (click)="reportPage(page.id)" href="#" style="color: #5c0632;"><i class="fa fa-flag"></i>&nbsp; Report</a></li>
              </ul>
						</div>
				</div>
			</div>
			<div class="container pt-70">
				<div class="panel panel-theme">
					<a (click)="inviteFriend()" href="#">Invite Friends</a>
				</div>
				<div class="panel panel-theme">
					<a href="#">{{likes}} people like this</a>
				</div>
				<div class="panel panel-theme">
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit culpa mollitia veniam officiis ex impedit totam, hic nam voluptas temporibus nihil libero ipsam ab distinctio quae nulla quo, aliquam incidunt!</p> -->
					<p>{{ page.description }}</p>
				</div>
				<div class="panel panel-theme">
					<div class="share-post">
						<img src="assets/images/avatar.png" alt="">
						<form><textarea placeholder="what's in your mind?"></textarea></form>
					</div>
				</div>
				<div class="panel panel-theme">
					<div class="feed-box">
						<div class="feed-header">
							<div class="pull-left">
								<a href="#"><img class="feed-img" src="assets/images/avatar.png" alt=""></a>
								<div class="feed-title">
									<h3><a href="#">Username</a></h3>
									<span>23 minutes ago .</span>
									<span class="dropdown ml-5">
										<a href="#" data-toggle="dropdown"><i class="fa fa-globe"></i></a>
										<ul class="dropdown-menu">
											<li><a href="#">Item-1</a></li>
											<li><a href="#">Item-2</a></li>
											<li><a href="#">Item-3</a></li>
										</ul>
									</span>
								</div>
							</div>
							<div class="pull-right">
								<div class="dropdown">
									<a href="#" class=" btn btn-default btn-sm" data-toggle="dropdown"><span class="caret"></span></a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#">Item-1</a></li>
										<li><a href="#">Item-2</a></li>
										<li><a href="#">Item-3</a></li>
									</ul>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="feed-body">
							<h3><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h3>
							<a href="#"><img src="assets/images/post.jpg" alt=""></a>
							<p class="mt-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
						</div>
						<div class="feed-footer">
							<!-- <div class="pull-left">
								<div class="pull-left mr-15">
									<a href="#"><i class="fa fa-thumbs-o-up"></i> Like</a>
								</div>
								<div class="pull-left mr-15">
									<a href="#"><i class="fa fa-commenting"></i> Comment</a>
								</div>
								<div class="pull-left mr-15">
									<a href="#"><i class="fa fa-share"></i> Share</a>
								</div>
							</div> -->
							<div class="pull-left mr-15">
								<a href="#"><i class="fa fa-thumbs-o-up"></i></a> 3
							</div>
							<div class="pull-left mr-15">
								<a href="#"><i class="fa fa-commenting"></i></a> 5
							</div>
							<div class="pull-left mr-15">
								<a href="#"><i class="fa fa-share"></i></a> 10
							</div>
							<div class="clearfix"></div>
							<div class="comment-list">
								<div class="comment">
									<div class="pull-left">
										<a href="#"><img class="feed-img" src="assets/images/avatar.png" alt=""></a>
										<div class="feed-title">
											<h3><a href="#">Username</a></h3>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<a href="#" class="mr-10">Like</a>
											<a href="#" class="mr-10">Reply</a>
											<span class="mr-10">-</span>
											<span>30 minute ago.</span>
										</div>
									</div>
									<div class="pull-right">
										<div class="pull-left ml-15">
											<a href="#"><i class="fa fa-thumbs-o-up"></i></a> 3
										</div>
									</div>
								</div>
								<div class="comment">
									<div class="pull-left">
										<a href="#"><img class="feed-img" src="assets/images/avatar.png" alt=""></a>
										<div class="feed-title">
											<h3><a href="#">Username</a></h3>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<a href="#" class="mr-10">Like</a>
											<a href="#" class="mr-10">Reply</a>
											<span class="mr-10">-</span>
											<span>30 minute ago.</span>
										</div>
									</div>
									<div class="pull-right">
										<div class="pull-left ml-15">
											<a href="#"><i class="fa fa-thumbs-o-up"></i></a> 3
										</div>
									</div>
								</div>
								<div class="comment write-comment">
									<div class="pull-left">
										<img class="feed-img" src="assets/images/avatar.png" alt="">
									</div>
									<form>
										<div class="input-group">
											<input type="text" class="form-control" placeholder="write a comment ...">
											<div class="input-group-btn">
												<button type="submit" class="btn btn-default">
													<i class="fa fa-paper-plane"></i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
</ion-content>
